<mat-accordion multi>
<form  class="container-form" [formGroup]="checkoutForm" (ngSubmit)="searchLand()">
  <mat-form-field appearance="fill">
    <mat-label>Buscar...</mat-label>
    <input matInput type="text" formControlName="value_search" />
  </mat-form-field>
</form>

<div class="container-filters"  style="width: 270px; height: 270px; margin: 20px; overflow-y: scroll;">
  <div *ngIf="result_geosearch">
    <mat-card >
        <mat-card-subtitle> Resultados: </mat-card-subtitle>
        <mat-card-content> {{result_geosearch}}</mat-card-content>
    </mat-card>
</div>
  <div>
      <mat-card *ngFor="let land of lands">
          <mat-card-subtitle>Información Predio </mat-card-subtitle>
          <mat-card-content>
                <p >Numero predial: {{land.id}}</p>
                <p>Area: {{land.properties.area}} </p>
                <p>Area Construida: {{land.properties.area_construida}} </p>
                <p>Destinacion Economica: {{land.properties.destinacion_economica}} </p>
                <p>Nombre Predio: {{land.properties.direccion}} </p>
               
                <button mat-raised-button *ngIf="land.geometry" color="primary" (click)="viewLand(land)" >Ver Predio</button>
          </mat-card-content>
      </mat-card>
  </div>
</div>
</mat-accordion>