<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Descargar Datos</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="example-card">
    <form  class="container-form" [formGroup]="checkoutForm" (ngSubmit)="enableFilter()">
      <mat-form-field>
        <mat-label>Seleccionar Filtro por Geometria:</mat-label>
        <mat-select formControlName="type_geom">
          <mat-option *ngFor="let geom of geoms" [value]="geom.value">
            {{ geom.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="enable" mat-raised-button color="primary" type="submit" [disabled]="!validateForm.valid" >Habilitar Filtro</button>
    </form>
      <button *ngIf="disable" mat-raised-button color="primary"  type="submit" (click)="desable_draw()" >Deshabilitar</button>
      <button *ngIf="disable" mat-raised-button color="disable" type="submit" (click)="clearLands()" ><mat-icon class="example-tab-icon">update</mat-icon></button>
    </div>

    <mat-card *ngIf="disable" class="example-card">
      <mat-card-subtitle>Resultados:</mat-card-subtitle>

      <mat-card-content>
        <p>Filtro Seleccionado: {{type_geom}}</p>
        <p>{{ messageFilter }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="searchLands()"  color="primary">Consultar</button>
        <button mat-button (click)="exportLands()" color="primary">Descargar</button>
      </mat-card-actions>
      <mat-card-footer>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
