<header>
  <div class="title" style="color: white;"> Modulo Geoportal ACC</div>
  <button id='updateView'  (click)="updateView()" hidden></button>

</header>
<main>
  <div class="left-bar">

    <div id="logos">
      <img style="padding-left: 55px;padding-bottom: 15px;padding-top: 15px;" src="../assets/imgs/acc.png" height="70px" alt="">
  </div>
  <!-- componet Menu -->
  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <!-- componet Layers -->
      <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">layers</mat-icon>
          </ng-template>
          <app-layers (selectLayers)="selectLayers($event)" [messageResultLayer]="currentMessageResultLayer" [isLoading]="isLoadingLayerACC" [ifCardLayer]="ifCardLayerACC"  [dataLand]="dataLand"></app-layers>
      </mat-tab>
      <!-- componet Filters -->
      <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">travel_explore</mat-icon>
        </ng-template>
        <app-filters (layerSearch)="layerSearch($event)" [propertiersLand]="propertiersLand"></app-filters>
                
    </mat-tab>
    <!-- componet Options -->
    <mat-tab>
      <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">extension icon</mat-icon>
      </ng-template>
      <app-options (geomSearch)="currentFilter($event)" (geomExport)="methodExport($event)" [messageFilter]="messageFilter"></app-options>
  </mat-tab>
  </mat-tab-group>
  <!-- componet Map -->
  </div>
  <div class="map-container">
    <app-map [map]="map"></app-map>
  </div>
</main>


<footer>
  <app-scaleline [map]="map"></app-scaleline>
  <app-mouse-position [map]="map" positionTemplate="{x}, {y}"></app-mouse-position>
</footer>
